# Operators ??

- operators operate on operands 


# Comparison operators ?

- When we want to compare two operands with some action we use comparison operators

In [2]:
a = 1 #( = means equal to )

In [3]:
b = 1

In [4]:
a == b

True

In [5]:
a != b

False

In [6]:
a = 100 
b = 120

In [7]:
# 100 == 120
a == b

False

In [8]:
# 100 != 120
a != b

True

In [9]:
# 100 > 120
a > b

False

In [10]:
# 100 < 120
a < b

True

In [11]:
# 100 <= 120
a <= b

True

In [12]:
# 100 >= 120
a >= b

False

# Logical Operators 

- An operator which checks two different conditions and then 


- AND 
- OR 
- NOT

In [13]:
d = 34
e = 45 
f = 56

In [14]:
d == e

False

In [15]:
d == f

False

In [16]:
d == e and d == f

False

In [26]:
# AND 
# c1 * c2 = ans 
# 1 * 1 = 1
# 1 * 0 = 0 
# 0 * 1 = 0 
# 0 * 0 = 0 
print( True and True ) 
print( False and True )
print( True and False )
print( False and False )

d = 34
e = 45 
f = 56

cond1 = (d > e)
cond2 = (e < f)
print(cond1 and cond2)

True
False
False
False
False

In [27]:
#OR 
#1 + 1 = 1
#0 + 1 = 1
#1 + 0 = 1
#0 + 0 = 0

print( True or True ) 
print( False or True )
print( True or False )
print( False or False )

d = 34
e = 45 
f = 56

cond1 = (d > e)
cond2 = (e < f)
print(cond1 or cond2)

True
True
True
False
True

In [23]:
# NOT 
print(not True)
print(not False)

False
True

# Chained Comp. Operators

In [31]:
d = 34
e = 45 
f = 56

print(d < e < f)

True

# Statements 

- IF ELSE  

- Loops

In [39]:
saiPassedClassNine = True

In [40]:
saiPassedClassNine

True

In [41]:
if saiPassedClassNine == True:
    print("Purchase Class 10th books")
else:
    print("Purchase Class 9th Note books")

Purchase Class 10th books

if __condition____ : 
    code block1
    code block1
    code block1
else:
    code block2
    code block2
    code block2

In [50]:
saiMarksInClass9 = 41

if saiMarksInClass9 >= 41:
    print("You are promoted to class 10")
elif saiMarksInClass9 >=35 and saiMarksInClass9 <= 40:
    print("You will be considered for Grace marks")
elif saiMarksInClass9 >= 31 and saiMarksInClass9< 35:
    print("Prents need to visit principal sir/ma'am")
else:
    print("Sorry repeat class 9 again")

You are promoted to class 10

# How to get input from user ??

input function => 

- input()

In [51]:
someText = input("Enter something Shravani - ")

Enter something Shravani - Hey All

In [52]:
someText

'Hey All'

In [53]:
someNumber = int(input("Enter some Number = "))

Enter some Number = 4500

In [54]:
someNumber

4500

In [55]:
type(someText)

str

In [56]:
type(someNumber)

int

# LOOPS ??

Loops are been used for doing some kinds of repetative tasks 

Loops are been used for iterating through a particular objectsin python

In [58]:
lst = [1,2,3,4,5,6,7,8,9]

In [59]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for item in lst:
    print("list item - ", item)

list item -  1
list item -  2
list item -  3
list item -  4
list item -  5
list item -  6
list item -  7
list item -  8
list item -  9


for element in ObjectYouWantToItterate:
    code block for the element
    code blocl for the element
    
What all object you can iterate ?
- List 
- String 
- Tuple 
- Dict
- Set 
Where you are having collections

In [61]:
abc = "HEY guys i hope that u all are understanding put up rating out of 5 for this lec."

In [62]:
abc

'HEY guys i hope that u all are understanding put up rating out of 5 for this lec.'

In [63]:
for element in abc:
    print(element)

H
E
Y

g
u
y
s

i

h
o
p
e

t
h
a
t

u

a
l
l

a
r
e

u
n
d
e
r
s
t
a
n
d
i
n
g

p
u
t

u
p

r
a
t
i
n
g

o
u
t

o
f

5

f
o
r

t
h
i
s

l
e
c
.

In [64]:
# Print all the even numbers in the range of 1- 100

In [66]:
lst = [1,2,3,4,5,6,7,8,9]

In [71]:
lst = list(range(1,101))

In [78]:
9 % 2 
# % operator is actually known as moduloo operator,

#which give the reminder of the division

1

In [85]:
for element in lst:
    if element%2 == 0:
        print(element)
else:
    print("THis is the end of for Loop")

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
THis is the end of for Loop

# While Loops

- When you dont have any measurable end for any repitative tasks

Syntax - 

while condition :
    codeBlock
    codeBlock
    codeBlock

In [82]:
altitudeInSky = 33000

while altitudeInSky > 1000:
    print(altitudeInSky, " You can remove your Seat belts")
    altitudeInSky = altitudeInSky - 1000
else:
    print(altitudeInSky, " Please Fasten your Seat belts")

33000  You can remove your Seat belts
32000  You can remove your Seat belts
31000  You can remove your Seat belts
30000  You can remove your Seat belts
29000  You can remove your Seat belts
28000  You can remove your Seat belts
27000  You can remove your Seat belts
26000  You can remove your Seat belts
25000  You can remove your Seat belts
24000  You can remove your Seat belts
23000  You can remove your Seat belts
22000  You can remove your Seat belts
21000  You can remove your Seat belts
20000  You can remove your Seat belts
19000  You can remove your Seat belts
18000  You can remove your Seat belts
17000  You can remove your Seat belts
16000  You can remove your Seat belts
15000  You can remove your Seat belts
14000  You can remove your Seat belts
13000  You can remove your Seat belts
12000  You can remove your Seat belts
11000  You can remove your Seat belts
10000  You can remove your Seat belts
9000  You can remove your Seat belts
8000  You can remove your Seat belts
7000  You can remove your Seat belts
6000  You can remove your Seat belts
5000  You can remove your Seat belts
4000  You can remove your Seat belts
3000  You can remove your Seat belts
2000  You can remove your Seat belts
1000  Please Fasten your Seat belts

In [91]:
password = ""
while password != "sai":
    password = input("Enter your password ")
else:
    print("Password accepted, you can goahead")

Enter your password sai
Password accepted, you can goahead

In [86]:
"LetsUpgrade" != "sai"

True

In [87]:
"sai" != "sai"

False